/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
		-fx-background-color:"#e5e5e5e5";
		-fx-font-family:'Comic Sans MS';
		-fx-font-size:15px;
		
}

	
Label{

-fx-text-fill:"black";
-fx-font-family:'Comic Sans MS';
-fx-font-size:15px;

}
ImageView{


}
.dialog-pane{
	
}
.jfx-textarea{

	
	
	 
	 
}


.jfx-button{
	-fx-background-radius:5;
	-fx-background-color:"transparent";
	-fx-text-fill:"black";
	 -jfx-button-type:RAISED;
 
   -fx-font-family:'Comic Sans MS';
   -fx-font-size:15px;
  
}
.gridpane{

}
VBox{
-fx-background-color:"#e5e5e5e5";



}.jfx-slider  .slider-value{
-fx-background-color:"white";
}
.jfx-slider > .animated-thumb{
-fx-background-color:"red";
}
.jfx-slider > .thumb{
-fx-background-color:"white";
}

.jfx-slider > .colored-track{
-fx-background-color:"black";
}
.jfx-slider >.track{
	 -fx-pref-width:70px;
	 -fx-pref-height:2px;
	-fx-background-color:"red";
}
Text{
-fx-text-fill:"#202a34";
-fx-font-size:12pt;
}
HBox{
	-fx-background-color:"#e5e5e5e5";
	
}
.BorderPane{
	-fx-background-color:"#e5e5e5e5";
}
